.footer {
    margin-top: 80px;
    width: 100%;

    @media screen and (max-width: 1440px) {
        margin-top: 20px;
    }

    &__wrapp {
        height: 233px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        max-width: 1302px;
        width: 91%;
    }

    &__block {
        width: 100%;
        display: flex;
        justify-content: space-between;

        &__logo {
            max-width: 521px;
            width: 40%;
            min-width: 470px;
            height: 110px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            & img {
                width: 80px;
                margin: auto 10px auto 0;
            }

            &__txt {
                display: flex;
                flex-direction: column;
                align-items: center;
                max-width: 418px;
                height: 104px;
                font: {
                    weight: 300;
                    size: 22px;
                }
                text-transform: uppercase;

                @media screen and (max-width: 1440px) {
                    font-size: 20px;
                }

                & a {
                    height: 70px;
                    color: white;
                    text-decoration: none;
                    font-size: 70px;

                    @media screen and (max-width: 1440px) {
                        font-size: 64px;
                    }
                }
            }
        }

        &__right {
            display: flex;
            justify-content: space-between;
            max-width: 643px;
            width: 50%;
            height: 168px;
        }

        &__links {
            align-self: center;
            // margin-bottom: 70px;
            width: 353px;
            height: 75px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 0 10px auto 30px;
            font: {
                size: 22px;
                weight: 300;
            }

            @media screen and (max-width: 1440px) {
                font-size: 20px;
            }

            & a {
                color: white;
                text-decoration: none;
                margin: 5px 15px;
            }
        }

        &__geo {
            display: flex;
            flex-direction: column;
            align-items: center;
            min-width: 207px;
            &__city {
                font-size: 16px;
                text-transform: uppercase;
            }

            &__phone {
                margin-top: 17px;

                & p {
                    font: {
                        size: 22px;
                        weight: 400;
                    }
                    line-height: 34px;
                    margin: 0;

                    @media screen and (max-width: 1440px) {
                        font-size: 20px;
                    }
                }
            }

            &__soc {
                margin-top: 17px;

                & a svg:hover {
                    transition: 0.2s;
                    fill: darken($color: #F49A30, $amount: 15)
                }
            }
        }
    }

    &__copyright {

        & h6 {
            font: {
                size: 16px;
                weight: 300;
            }
        }
    }
}