mark {
  background: #F49A30;
}

mark.current {
  background: #cd740b;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 225px;
  z-index: 999;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1306px;
  margin: 0 auto;
}

.header__logo__geo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 345px;
  height: 54px;
  margin-top: 37px;
  margin-bottom: 54px;
}

.header__logo__geo__ico {
  width: 40px;
  height: 40px;
}

.header__logo__geo__ico img {
  width: auto;
  height: 40px;
}

.header__logo__geo__location {
  text-transform: uppercase;
  line-height: 10px;
  font-size: 22px;
  font-weight: 300;
}

.header__logo__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 418px;
  height: 104px;
  font-weight: 300;
  font-size: 22px;
  text-transform: uppercase;
}

.header__logo__center a {
  color: white;
  text-decoration: none;
  font-size: 70px;
}

.header__logo__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 321px;
  height: 62px;
  line-height: 20px;
  margin: 33px 0 50px 0;
  font-size: 22px;
  font-weight: 400;
}

.header__logo__phone__ico {
  width: 40px;
  height: 40px;
}

.header__logo__phone__ico img {
  width: 40px;
  height: auto;
}

.header__logo__phone__flag {
  width: 40px;
  height: 40px;
}

.header__logo__phone__flag img {
  width: 40px;
  height: auto;
}

.header__menu {
  background-color: #282727;
  width: 100%;
  height: 80px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header__menu-wrapper {
  width: 1307px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0 auto;
  font-weight: 300;
  font-size: 22px;
}

.header__menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 860px;
  text-transform: uppercase;
}

.header__menu__link a {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid #282727;
}

.header__menu__link a:not(:first-child):hover {
  border-bottom: 2px solid #F49A30;
}

.header__menu__link__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 197px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-bottom: 2px solid #282727;
}

.header__menu__link__list img {
  width: 20px;
  height: auto;
}

.header__menu__link__list__choise {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 365px;
  position: absolute;
  margin-top: 53px;
  margin-left: -60px;
  background-color: rgba(53, 53, 53, 0.76);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header__menu__link__list__choise a {
  padding-top: 34px;
  padding-bottom: 25px;
  padding-left: 57px;
}

.header__menu__link__list__choise a:not(:last-child) {
  border-bottom: 2px solid rgba(188, 188, 183, 0.5);
}

.header__menu__link__list__choise a:last-child {
  padding-bottom: 34px;
}

.header__menu__link__list__choise a:hover {
  color: #F49A30;
  border-bottom: 2px solid #F49A30;
}

.header__menu__link__list:hover {
  border-bottom: 2px solid #F49A30;
}

.header__menu__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 314px;
}

.header__menu__search img {
  width: 40px;
  height: 40px;
}

.header__menu__search input {
  width: 250px;
  height: 48px;
  border: none;
  font-size: 22px;
  border-radius: 3px;
  padding-top: 6px;
  padding-left: 16px;
  padding-right: 15px;
  font-weight: 300;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
}

.header__menu__search input::-webkit-input-placeholder {
  color: #BCBCB7;
}

.header__menu__search input:-ms-input-placeholder {
  color: #BCBCB7;
}

.header__menu__search input::-ms-input-placeholder {
  color: #BCBCB7;
}

.header__menu__search input::placeholder {
  color: #BCBCB7;
}

.header__menu__search input:focus {
  outline: none;
}

.header__menu__search__btns {
  display: none;
  position: absolute;
  right: 15%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  width: 50px;
  height: 48px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header__menu__search__btns button {
  height: 100%;
  border: none;
  background: white;
  font-size: 22px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header__menu__search__btns button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border: 1px solid #F49A30;
}

.header__menu__search__btns button:focus {
  outline: none;
}

.header__menu__search__btns--type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu__link .header-menu__active,
#list .header-menu__active {
  border-bottom: 2px solid #F49A30;
}

.animate__animated {
  --animate-duration: 0.2s;
}
/*# sourceMappingURL=header.css.map */