.types {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
    width: 100%;

    @media screen and (max-width: 1440px) {
        margin-top: 40px;
        margin-bottom: 20px;
    }

    &__title {
        display: flex;
        width: 100%;
        text-align: center;

        & h3 {
            text-transform: uppercase;
            width: 486px;
            margin: 0 auto;

            font: {
                weight: 300;
                size: 50px;
            }

            @media screen and (max-width: 1440px) {
                font-size: 44px;

                @media screen and (max-width: 1024px) {
                    font-size: 38px;
                }
            }
        }

        &__line {
            position: relative;
            top: 30px;
            flex-grow: 1;

            border-top: {
                style: solid;
                width: 2px;
                color: #F49A30;
            }
        }
    }

    &__block {
        margin-top: 50px;
        display: grid;
        max-width: 1167px;
        grid-template-columns: repeat(3, 270px);
        grid-template-rows: repeat(2, 270px);
        grid-gap: 10px 200px;

        @media screen and (max-width: 1440px) {
            grid-gap: 10px 70px;

            @media screen and (max-width: 1024px) {
                grid-template-columns: repeat(3, 223px);
                grid-template-rows: repeat(2, 223px);
            }
        }

        &_wrapp {
            display: flex;
            justify-content: center;
            padding: 4px;

            &:hover {
                cursor: pointer;
                padding: 0;

                border: {
                    style: solid;
                    width: 4px;
                    color: #F49A30;
                }
            }

            &er {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: center;
                margin: auto;
                max-width: 255px;
                width: 93%;
                max-height: 255px;
                height: 93%;
                text-decoration: none;
                color: white;
                padding: 2px;

                @media screen and (max-width: 1024px) {
                    max-width: 200px;
                    max-height: 200px;
                }

                &:hover {
                    transition: 0.2s;

                    border: {
                        style: solid;
                        width: 2px;
                        color: #F49A30;
                    }

                    color: #F49A30;
                }

                & svg {
                    padding-top: 30px;
                    height: 150px;
                    fill: white;
                    transition: 0.2s;

                    @media screen and (max-width: 1024px) {
                        height: 100px;
                    }
                }

                & h5 {
                    padding-bottom: 25px;
                    text-transform: uppercase;

                    font: {
                        size: 22px;
                        weight: 300;
                    }

                    margin: 0;

                    @media screen and (max-width: 1440px) {
                        font-size: 20px;
                    }
                }

                & #_more_1 {
                    width: 65%;
                    padding-bottom: 0;
                    margin: 0 auto;
                    font-weight: 500;
                    border-bottom: 4px solid #F49A30;
                }

                & #_more_2 {
                    width: 20%;
                    padding-bottom: 0;
                    margin: -15px auto 0 auto;
                    font-weight: 500;
                    border-bottom: 4px solid #F49A30;
                }
            }
        }
    }
}

.count {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    background-color: #282727;

    &__wrapp {
        display: flex;
        justify-content: space-between;
        margin: auto auto;
        max-width: 1309px;
        width: 92%;
        height: 110px;

        &__quest {
            text-transform: uppercase;
            letter-spacing: 2.5%;

            font: {
                size: 28px;
                weight: 300;
            }

            @media screen and (max-width: 1440px) {
                font-size: 24px;
                width: 50%;

                @media screen and (max-width: 1024px) {
                    font-size: 18px;
                }
            }

            & span {
                color: #F49A30;
            }

            & p {
                margin: 0;
            }

            &__img {
                background: url('../img/arrow_long_count.svg') no-repeat right;
                width: 128%;
                height: 40px;
            }
        }

        &__btn {
            align-self: center;
            max-width: 250px;
            min-width: 200px;
            width: 27%;
            height: 80px;

            @media screen and (max-width: 1440px) {
                width: 21%;

                @media screen and (max-width: 1024px) {
                    min-width: 180px;
                    width: 19%;
                    height: 60px;
                }
            }

            & button {
                font: {
                    family: "Montserrat", sans-serif;
                    size: 28px;
                    weight: 300;
                }

                background: none;

                border: {
                    style: solid;
                    width: 1px;
                    color: #F49A30;
                }

                text-transform: uppercase;
                color: #F49A30;
                width: 100%;
                height: 100%;
                transition: 0.2s;

                @media screen and (max-width: 1440px) {
                    font-size: 24px;

                    @media screen and (max-width: 1024px) {
                        font-size: 18px;
                    }
                }

                &:hover {
                    cursor: pointer;
                    background-color: #F49A30;
                    color: #282727;
                }

                &:focus {
                    outline: none;
                }
            }
        }
    }


}

.index-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    width: 100%;

    @media screen and (max-width: 1440px) {
        margin-top: 20px;
    }

    &__title {
        display: flex;
        width: 100%;
        text-align: center;

        & h3 {
            text-transform: uppercase;
            width: 600px;
            margin: 0 auto;

            font: {
                weight: 300;
                size: 50px;
            }

            @media screen and (max-width: 1440px) {
                font-size: 44px;

                @media screen and (max-width: 1024px) {
                    font-size: 38px;
                }
            }
        }

        &__line {
            position: relative;
            top: 30px;
            flex-grow: 1;

            border-top: {
                style: solid;
                width: 2px;
                color: #F49A30;
            }
        }
    }

    &__block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        max-width: 1680px;
        width: 92%;
        margin: 80px auto 30px auto;

        & a {
            margin: 10px auto;
            min-width: 300px;
            width: 30%;
        }

        & img {
            width: 95%;
            box-shadow: 0 20px 20px rgba(0, 0, 0, 0.7);
            transition: 0.2s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 80px;
        background-color: rgba(0, 0, 0, 0.27);

        @media screen and (max-width: 1024px) {
            height: 60px;
        }

        & a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 300px;
            height: 100%;
            background: #F49A30;
            color: #282727;
            text-transform: uppercase;
            text-decoration: none;
            transition: 0.2s;
            font-size: 28px;
            border: 1px solid #F49A30;

            @media screen and (max-width: 1024px) {
                font-size: 18px;
                width: 200px;
            }

            &:hover {
                background: darken($color: #F49A30, $amount: 13);
                border-color: darken($color: #F49A30, $amount: 13);
            }
        }
    }
}

.advant {
    width: 100%;
    max-height: 600px;
    min-height: 500px;
    margin: 0;
    background: #282727;

    &__wrapp {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        max-width: 1146px;
        width: 96%;
        height: 100%;

        &__title {
            margin-bottom: 80px;

            & h3 {
                margin-bottom: 0;
                text-transform: uppercase;

                font: {
                    size: 50px;
                    weight: 300;
                }

                @media screen and (max-width: 1440px) {
                    font-size: 44px;

                    @media screen and (max-width: 1024px) {
                        font-size: 38px;
                    }
                }
            }
        }

        &__block {
            width: 100%;
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &__row {
                display: flex;
                justify-content: space-between;

                &__field {
                    display: flex;
                    width: 500px;

                    & img {
                        max-width: 100px;
                        width: 21%;
                        margin-right: 24px;

                        @media screen and (max-width: 1440px) {
                            width: 14%;

                            @media screen and (max-width: 1024px) {
                                width: 12%;
                            }
                        }
                    }

                    & p {
                        width: 368px;

                        font: {
                            size: 22px;
                            weight: 300;
                        }

                        @media screen and (max-width: 1440px) {
                            font-size: 20px;

                            @media screen and (max-width: 1024px) {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    margin-bottom: 80px;
    width: 100%;

    @media screen and (max-width: 1440px) {
        padding-top: 20px;
        margin-bottom: 20px;
    }

    &__map {
        background: url('../img/map.png') no-repeat;
        background-position-x: 75%;
        width: 100%;
        height: 650px;
        margin-top: 35px;

        @media screen and (max-width: 1024px) {
            height: 500px;
        }
    }

    &__title {
        display: flex;
        width: 100%;
        text-align: center;

        & h3 {
            text-transform: uppercase;
            width: 600px;
            margin: 0 auto;

            font: {
                weight: 300;
                size: 50px;
            }

            @media screen and (max-width: 1440px) {
                font-size: 44px;

                @media screen and (max-width: 1024px) {
                    font-size: 38px;
                }
            }
        }

        &__line {
            position: relative;
            top: 30px;
            flex-grow: 1;

            border-top: {
                style: solid;
                width: 2px;
                color: #F49A30;
            }
        }
    }

    & img {
        height: 650px;
        margin-top: 40px;
    }

    &__over {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: -650px;
        align-self: flex-start;
        max-width: 824px;
        width: 58%;
        height: 650px;
        background: rgba(40, 39, 39, 0.7);
        z-index: 10;

        @media screen and (max-width: 1024px) {
            height: 500px;
            margin-top: -500px;
        }

        &__add {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-top: 109px;
            margin-right: 101px;
            height: 242px;
            width: 413px;

            @media screen and (max-width: 1024px) {
                margin-top: 90px;
                margin-right: 0;
            }

            &__locate {
                display: flex;
                align-items: center;
                width: 412px;
                height: 40px;

                @media screen and (max-width: 1024px) {
                    height: 30px;
                }

                & img {
                    margin: 0;
                    height: 100%;
                }

                & p {
                    margin: 0 0 0 16px;
                    text-transform: uppercase;

                    font: {
                        size: 22px;
                        weight: 300;
                    }

                    @media screen and (max-width: 1440px) {
                        font-size: 20px;

                        @media screen and (max-width: 1024px) {
                            font-size: 18px;
                        }
                    }
                }
            }
        }

        &__insta {
            display: flex;
            align-items: center;
            margin-right: 55px;
            margin-bottom: 50px;
            width: 473px;
            height: 70px;

            @media screen and (max-width: 1024px) {
                margin-bottom: 20px;
                margin-right: 0;
                width: 422px;
            }

            & img {
                margin: 0;
                height: 100%;
                transition: 0.2s;

                @media screen and (max-width: 1024px) {
                    height: 50px;
                }

                &:hover {
                    transform: scale(1.2);
                }
            }

            & p {
                margin: 0 0 0 24px;
                text-transform: uppercase;

                font: {
                    size: 22px;
                    weight: 300;
                }

                @media screen and (max-width: 1024px) {
                    font-size: 20px;
                }

                & a {
                    text-decoration: none;
                }

                & span {
                    color: #F49A30;
                }
            }
        }
    }
}