.count {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    background-color: #282727;

    @media screen and (max-width: 768px) {
        height: 80px;
    }

    &__wrapp {
        display: flex;
        justify-content: space-between;
        margin: auto auto;
        max-width: 1309px;
        width: 92%;
        height: 110px;

        &__quest {
            text-transform: uppercase;
            letter-spacing: 2.5%;
            font: {
                size: 28px;
                weight: 300;
            }

            @media screen and (max-width: 1440px) {
                font-size: 24px;
                width: 50%;

                @media screen and (max-width: 1024px) {
                    font-size: 18px;

                    @media screen and (max-width: 768px) {
                        font-size: 16px;
                        width: 57%;

                        @media screen and (max-width: 560px) {
                            font-size: 14px;
                            max-width: 200px;
                            text-transform: none;
                        }
                    }
                }
            }

            & span {
                color: #F49A30;
            }

            & p {
                margin: 0;
            }

            &__img {
                background: url('../../img/arrow_long_count.svg') no-repeat right;
                width: 128%;
                height: 40px;

                @media screen and (max-width: 768px) {
                    height: 20px;

                    @media screen and (max-width: 560px) {
                        max-width: 275px;
                        margin-left: -16px;
                    }
                }
            }
        }

        &__btn {
            align-self: center;
            max-width: 250px;
            min-width: 200px;
            width: 27%;
            height: 80px;

            @media screen and (max-width: 1440px) {
                width: 21%;

                @media screen and (max-width: 1024px) {
                    min-width: 180px;
                    width: 19%;
                    height: 60px;

                    @media screen and (max-width: 768px) {
                        min-width: 138px;
                        width: 130px;
                        height: 44px;

                        @media screen and (max-width: 560px) {
                            min-width: unset;
                            width: 110px;
                            height: 33px;
                            background: #F49A30;
                        }
                    }
                }
            }

            & button {
                font: {
                    family: "Montserrat", sans-serif;
                    size: 28px;
                    weight: 300;
                }
                background: none;
                border: {
                    style: solid;
                    width: 1px;
                    color: #F49A30;
                }
                text-transform: uppercase;
                color: #F49A30;
                width: 100%;
                height: 100%;
                transition: 0.2s;

                @media screen and (max-width: 1440px) {
                    font-size: 24px;

                    @media screen and (max-width: 1024px) {
                        font-size: 18px;

                        @media screen and (max-width: 768px) {
                            font-size: 16px;

                            @media screen and (max-width: 560px) {
                                font-size: 14px;
                                color: #282727;
                            }
                        }
                    }
                }

                &:hover {
                    cursor: pointer;
                    background-color: #F49A30;
                    color: #282727;
                }

                &:focus {
                    outline: none;
                }
            }
        }
    }


}

.main-types {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
    width: 100%;

    &__title {
        display: flex;
        width: 100%;
        text-align: center;

        & h3 {
            text-transform: uppercase;
            width: 486px;
            margin: 0 auto;
            font: {
                weight: 300;
                size: 50px;
            }

            @media (max-width: 1024px) {
                font-size: 28px;
                font-weight: 400;
            }
        }

        &__line {
            position: relative;
            top: 30px;
            flex-grow: 1;
            border-top: {
                style: solid;
                width: 2px;
                color: #F49A30;
            }
        }
    }
}

.section-fix {
    padding-top: 80px;
    align-self: flex-start;
    width: 100%;
    display: flex;
    flex-direction: column;

    @media (max-width: 1024px) {
        padding-top: 40px;
    }

    &__title {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        width: 607px;

        @media (max-width: 1024px) {
            width: 400px;
        }

        & h3 {
            margin-left: 30px;
            color: #F49A30;
            font: {
                family: "Montserrat", sans-serif;
                size: 50px;
                weight: 300;
            }

            @media (max-width: 1024px) {
                font-size: 28px;
            }
        }

        &__line {
            width: 100%;

            img {

                @media (max-width: 1024px) {
                    width: 100%;
                }
            }
        }
    }

    &__txt {
        margin: 0 auto;
        max-width: 1265px;
        width: 89%;
        margin-bottom: 80px;

        @media (max-width: 1024px) {
            margin-bottom: 20px;
        }

        & p {
            line-height: 160%;
            font-size: 28px;

            @media (max-width: 1024px) {
                font-size: 15px;
                font-weight: 300;
            }

            & span {
                color: #F49A30;
                font-weight: 400;
            }
        }
    }
}

.slider-container {
    width: 100%;
    height: 700px;

    @media (max-width: 1024px) {
        height: 500px;
    }
}

.swiper-container {
    max-width: 1307px;
    height: 600px;
    overflow: initial;

    @media (max-width: 1024px) {
        height: 400px;
    }
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    filter: blur(4px) brightness(50%);
    transform: scale(0.8);
    transition: 0.2s;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.7);

    &-active {
        transform: none;
        filter: none;
    }
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

.slider-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-size: 30px 30px;
    transition: 0.2s;
    top: 105%;

    &:hover {
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 0 0 10px white;
    }

    &:focus {
        outline: none;
    }
}

.swiper-button-next {
    background: url("../img/arrow_right.svg") no-repeat center;
    right: 25px;
}

.swiper-button-prev {
    background: url("../img/arrow_left.svg") no-repeat center;
    left: 25px;
}

.swiper-pagination-bullet {
    opacity: 1;
    border: 1px solid white;
    background: none;
    transition: 0.2s;

    &-active {
        border: 1px solid #F49A30;
        background-color: #F49A30;
    }
}

.section-slide {
    padding-top: 80px;
    align-self: flex-start;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;

    @media (max-width: 1024px) {
        padding-top: 20px;
        margin-bottom: 20px;
    }

    &__title {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        width: 607px;

        @media (max-width: 1024px) {
            width: 400px;
        }

        & h3 {
            margin-left: 30px;
            color: #F49A30;
            font: {
                family: "Montserrat", sans-serif;
                size: 50px;
                weight: 300;
            }

            @media (max-width: 1024px) {
                font-size: 28px;
                font-weight: 300;
            }
        }

        &__line {
            width: 100%;

            img {

                @media (max-width: 1024px) {
                    width: 100%;
                }
            }
        }
    }
}

.article {
    margin: 0 auto;
    max-width: 1286px;
    width: 90%;
    display: flex;
    flex-direction: column;
    transition: 0.2s;
    overflow: hidden;

    &__title {
        max-width: 650px;
        width: 94%;
        display: flex;
        align-items: center;

        & h3 {
            margin: 0;
            width: 570px;
            color: #F49A30;
            font: {
                size: 50px;
                weight: 300;
            }

            @media (max-width: 768px) {
                font-size: 28px;
                font-weight: 300;
            }

            & span {
                font-weight: 600;
            }
        }

        &__img {
            margin-left: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            width: 50px;
            height: 50px;
            border-radius: 100%;
            transition: 0.2s;

            &:hover {
                background: rgba(255, 255, 255, 0.1);
                box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
            }

            & img {
                transition: 0.2s;
            }
        }
    }

    &__block {
        display: none;
        flex-direction: column;

        &__row {
            display: flex;
            width: 100%;
            justify-content: space-between;
            counter-increment: list;

            &__img {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 45%;
            }

            &__txt {
                display: flex;
                align-items: center;
                width: 55%;
                font-size: 22px;
                line-height: 140%;

                @media (max-width: 1024px) {
                    font-size: 15px;
                    font-weight: 300;
                }

                & p {
                    width: 90%;
                }

                & span {
                    color: #F49A30;
                    font-weight: 400;
                }

                & a {
                    text-decoration: none;
                    color: #F49A30;
                    font-weight: 400;
                }

                &::before {
                    position: relative;
                    content: counter(list);
                    font: {
                        size: 50px;
                        weight: 600;
                    }
                    color: #F49A30;
                    right: 45px;
                }
            }

            &__reverse>&__img {
                order: 2;
            }

            &__reverse>&__txt {
                order: 1;
            }
        }

        & h6 {
            align-self: center;
            font: {
                size: 28px;
                weight: 300;
            }
            line-height: 140%;

            @media (max-width: 768px) {
                font-size: 16px;
                font-weight: 300;
            }

            & span {
                color: #F49A30;
            }
        }
    }
}