html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: white;

    background: {
        image: url("../img/background.png");
        attachment: fixed;
        repeat: no-repeat;
        size: cover;
    }
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    border: none;
    width: 10px;
    transition: 0.2s;
    background: #282727;
}

::-webkit-scrollbar-thumb {
    background-color: #F49A30;
    border-radius: 50%;
}

::-webkit-scrollbar-thumb:hover {
    background-color: darken($color: #F49A30, $amount: 10);
}

.grad {
    height: 70px;
    width: 100%;
}

#grad_1 {
    background: linear-gradient(to top, #282727, rgba(40, 39, 39, 0.1));
}

#grad_2 {
    background: linear-gradient(to bottom, #282727, rgba(40, 39, 39, 0.1));
}

#grad_3 {
    height: 100px;
    background: linear-gradient(to top, #282727, rgba(40, 39, 39, 0.3));
}

#grad_4 {
    height: 150px;
    background: linear-gradient(to bottom, #282727, rgba(40, 39, 39, 0.4));
}

.grad_black {
    width: 100%;
    height: 30px;
}

#grad_black_1 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0.1));
}

#grad_black_2{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0.1));
}

.form {
    width: 100%;
    height: 550px;
    margin: 0;
    background: #282727;

    &__wrapp {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 1300px;
        height: 100%;
        margin: 0 auto;
    }

    &__title {
        margin-bottom: 70px;

        & h3 {
            color: #F49A30;
            margin-bottom: 0;
            text-transform: uppercase;
            font: {
                size: 50px;
                weight: 300;
            }
        }
    }

    &__block {
        display: flex;
        height: 400px;
        width: 100%;
        justify-content: space-between;

        &__offer {
            line-height: 160%;
            font: {
                size: 28px;
                weight: 300;
            }

            & span {
                font-weight: 500;
                text-transform: uppercase;
                color: #F49A30;
            }

            & p {
                max-width: 633px;
                text-align: center;
                margin: 0;
            }
        }

        &__form {
            width: 400px;
            height: 350px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            & form {
                width: 100%;
                height: 244px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                & input {
                    width: 100%;
                    height: 48px;
                    background: none;
                    padding-left: 20px;
                    color: white;
                    margin-bottom: 10px;
                    font: {
                        family: 'Montserrat', sans-serif;
                        size: 22px;
                        weight: 300;
                    }
                    border: {
                        style: solid;
                        width: 1px;
                        color: #F49A30;
                    }

                    &:focus {
                        outline: none;
                        background: none;
                    }

                    &::placeholder {
                        color: #BCBCB7;
                    }
                }
            }

            &__btn {
                align-self: center;
                text-align: center;
                width: 250px;
                height: 80px;

                & button {
                    font: {
                        family: "Montserrat", sans-serif;
                        size: 22px;
                        weight: 400;
                    }
                    background: #F49A30;
                    border: {
                        style: solid;
                        width: 1px;
                        color: #F49A30;
                    }
                    text-transform: uppercase;
                    color: #282727;
                    width: 100%;
                    height: 100%;
                    transition: 0.2s;

                    &:hover {
                        cursor: pointer;
                        background-color: darken($color: #F49A30, $amount: 15);
                    }
                }

                & p {
                    font: {
                        size: 16px;
                        weight: 300;
                    }
                }
            }
        }
    }
}