.footer {
  margin-top: 80px;
  width: 100%;
}

.footer__wrapp {
  height: 233px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 1302px;
}

.footer__block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__block__logo {
  width: 521px;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__block__logo img {
  width: 80px;
  margin: 0;
}

.footer__block__logo__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 418px;
  height: 104px;
  font-weight: 300;
  font-size: 22px;
  text-transform: uppercase;
}

.footer__block__logo__txt a {
  height: 70px;
  color: white;
  text-decoration: none;
  font-size: 70px;
}

.footer__block__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 643px;
  height: 168px;
}

.footer__block__links {
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 70px;
  width: 353px;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 22px;
  font-weight: 300;
}

.footer__block__links a {
  color: white;
  text-decoration: none;
}

.footer__block__geo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 207px;
}

.footer__block__geo__city {
  font-size: 16px;
  text-transform: uppercase;
}

.footer__block__geo__phone {
  margin-top: 17px;
}

.footer__block__geo__phone p {
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
  margin: 0;
}

.footer__block__geo__soc {
  margin-top: 17px;
}

.footer__block__geo__soc a svg:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  fill: #cd740b;
}

.footer__copyright h6 {
  font-size: 16px;
  font-weight: 300;
}
/*# sourceMappingURL=footer.css.map */