#active {
    display: flex;
}

.animate__animated.animate__fadeInUp {
    --animate-duration: 0.6s;
}

#slider {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 30px 40px black;

    & ul {
        position: relative;
        margin: 0;
        padding: 0;
        height: 100%;
        list-style: none;
        text-align: center;

        & li {
            position: relative;
            display: block;
            float: left;
            margin: 0;
            padding: 0;
            height: 700px;
            text-align: center;
            line-height: 300px;
        }
    }
}

a.control_prev,
a.control_next {
    position: absolute;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    bottom: 160px;
    width: 40px;
    height: 40px;
    z-index: 10;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        background-color: rgba(255, 255, 255, 0.3);
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
    }

    & svg {
        fill: white;

        &:hover {
            fill: #F49A30;
        }
    }
}

a.control_prev {
    left: 40px;
}

a.control_next {
    right: 40px;
}

.slider__about {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 1113px;
    height: 200px;
    margin: 0 auto;
    line-height: 150%;
    font: {
        size: 22px;
        weight: 300;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 600px;
        height: 265px;
        width: 100%;
        font-family: 'Montserrat', sans-serif;
    }

    &__text {
        width: 730px;

        &__wrapp {
            display: flex;
            align-items: center;
            height: 100px;
        }

        & p {
            margin: 0;
            transition: 0.2s;
        }

        & span {
            color: #F49A30;
            font-weight: 500;
        }
    }

    &__btn {
        width: 250px;
        height: 80px;
        font: {
            family: 'Montserrat', sans-serif;
            size: 28px;
            weight: 300;
        }
        text-transform: uppercase;
        color: #F49A30;
        background: none;
        border: {
            style: solid;
            color: #F49A30;
            width: 1px;
        }
        transition: 0.2s ease;

        &:hover {
            background: #F49A30;
            color: #2B2929;
            cursor: pointer;
        }

        &:focus {
            outline: none;
        }
    }
}

.slider__dots {
    display: flex;
    justify-content: space-between;
    width: 120px;
    height: 100%;

    &__wrapper {
        display: flex;
        justify-content: flex-end;
        width: 1113px;
        height: 15px;
    }

    &__item {
        width: 15px;
        border: {
            width: 1px;
            style: solid;
            color: white;
            radius: 50%;
        }

        &:hover {
            cursor: pointer;
        }

        &.active {
            border-color: #F49A30;
            background-color: #F49A30;
        }
    }
}