.types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
  width: 100%;
  height: 690px;
}

.types__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-align: center;
}

.types__title h3 {
  text-transform: uppercase;
  width: 486px;
  margin: 0 auto;
  font-weight: 300;
  font-size: 50px;
}

.types__title__line {
  position: relative;
  top: 30px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #F49A30;
}

.types__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1120px;
  height: 580px;
  margin: auto auto;
}

.types__block__ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.types__block__ico_wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 270px;
  height: 270px;
  padding: 4px;
}

.types__block__ico_wrapp:hover {
  cursor: pointer;
  padding: 0;
  border-style: solid;
  border-width: 4px;
  border-color: #F49A30;
}

.types__block__ico_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin: auto;
  width: 255px;
  height: 255px;
  text-decoration: none;
  color: white;
}

.types__block__ico_wrapper:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-style: solid;
  border-width: 2px;
  border-color: #F49A30;
  color: #F49A30;
}

.types__block__ico_wrapper svg {
  padding-top: 30px;
  height: 150px;
  fill: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.types__block__ico_wrapper h5 {
  padding-bottom: 25px;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 300;
  margin: 0;
}

.types__block__ico_wrapper #_more_1 {
  width: 65%;
  padding-bottom: 0;
  margin: 0 auto;
  font-weight: 500;
  border-bottom: 4px solid #F49A30;
}

.types__block__ico_wrapper #_more_2 {
  width: 20%;
  padding-bottom: 0;
  margin: -15px auto 0 auto;
  font-weight: 500;
  border-bottom: 4px solid #F49A30;
}

.count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 200px;
  background-color: #282727;
}

.count__wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto auto;
  width: 1309px;
  height: 110px;
}

.count__wrapp__quest {
  text-transform: uppercase;
  letter-spacing: 2.5%;
  font-size: 28px;
  font-weight: 300;
}

.count__wrapp__quest span {
  color: #F49A30;
}

.count__wrapp__quest p {
  margin: 0;
}

.count__wrapp__btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 250px;
  height: 80px;
}

.count__wrapp__btn button {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 300;
  background: none;
  border-style: solid;
  border-width: 1px;
  border-color: #F49A30;
  text-transform: uppercase;
  color: #F49A30;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.count__wrapp__btn button:hover {
  cursor: pointer;
  background-color: #F49A30;
  color: #282727;
}

.grad {
  height: 70px;
  width: 100%;
}

#grad_1 {
  background: -webkit-gradient(linear, left bottom, left top, from(#282727), to(rgba(40, 39, 39, 0.1)));
  background: linear-gradient(to top, #282727, rgba(40, 39, 39, 0.1));
}

#grad_2 {
  background: -webkit-gradient(linear, left top, left bottom, from(#282727), to(rgba(40, 39, 39, 0.1)));
  background: linear-gradient(to bottom, #282727, rgba(40, 39, 39, 0.1));
}

#grad_3 {
  height: 100px;
  background: -webkit-gradient(linear, left bottom, left top, from(#282727), to(rgba(40, 39, 39, 0.3)));
  background: linear-gradient(to top, #282727, rgba(40, 39, 39, 0.3));
}

#grad_4 {
  height: 150px;
  background: -webkit-gradient(linear, left top, left bottom, from(#282727), to(rgba(40, 39, 39, 0.4)));
  background: linear-gradient(to bottom, #282727, rgba(40, 39, 39, 0.4));
}

.grad_black {
  width: 100%;
  height: 30px;
}

#grad_black_1 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.27)), to(rgba(0, 0, 0, 0.1)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0.1));
}

#grad_black_2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.27)), to(rgba(0, 0, 0, 0.1)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0.1));
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
  width: 100%;
  height: 730px;
}

.gallery__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-align: center;
}

.gallery__title h3 {
  text-transform: uppercase;
  width: 600px;
  margin: 0 auto;
  font-weight: 300;
  font-size: 50px;
}

.gallery__title__line {
  position: relative;
  top: 30px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #F49A30;
}

.gallery__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1680px;
  height: 375px;
  margin: 80px auto 30px auto;
}

.gallery__block img {
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.7);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.7);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.gallery__block img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.gallery__btn {
  width: 100%;
  height: 80px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.27);
}

.gallery__btn button {
  width: 300px;
  height: 80px;
  background: #F49A30;
  color: #282727;
  text-transform: uppercase;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 300;
  border-width: 1px;
  border-style: solid;
  border-color: #F49A30;
}

.gallery__btn button:hover {
  cursor: pointer;
  background: #d6790b;
  border-color: #d6790b;
}

.advant {
  width: 100%;
  height: 600px;
  margin: 0;
  background: #282727;
}

.advant__wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 1146px;
  height: 100%;
}

.advant__wrapp__title {
  margin-bottom: 80px;
}

.advant__wrapp__title h3 {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 300;
}

.advant__wrapp__block {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advant__wrapp__block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advant__wrapp__block__row__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
}

.advant__wrapp__block__row__field img {
  width: 100px;
  margin-right: 24px;
}

.advant__wrapp__block__row__field p {
  width: 368px;
  font-size: 22px;
  font-weight: 300;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
  width: 100%;
  height: 754px;
}

.contacts__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-align: center;
}

.contacts__title h3 {
  text-transform: uppercase;
  width: 600px;
  margin: 0 auto;
  font-weight: 300;
  font-size: 50px;
}

.contacts__title__line {
  position: relative;
  top: 30px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #F49A30;
}

.contacts img {
  margin-top: 40px;
}

.contacts__over {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: -653px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 824px;
  height: 653px;
  background: rgba(40, 39, 39, 0.7);
  z-index: 10;
}

.contacts__over__add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 109px;
  margin-right: 101px;
  height: 242px;
  width: 413px;
}

.contacts__over__add__locate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 412px;
  height: 40px;
}

.contacts__over__add__locate img {
  margin: 0;
  height: 100%;
}

.contacts__over__add__locate p {
  margin: 0 0 0 16px;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 300;
}

.contacts__over__insta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 55px;
  margin-bottom: 50px;
  width: 473px;
  height: 70px;
}

.contacts__over__insta img {
  margin: 0;
  height: 100%;
}

.contacts__over__insta p {
  margin: 0 0 0 24px;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 300;
}

.contacts__over__insta p span {
  color: #F49A30;
}
/*# sourceMappingURL=index.css.map */