mark {
  background: #F49A30;
}

mark.current {
  background: #cd740b;
}

.header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 225px;
  z-index: 999;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media screen and (max-width: 1440px) {
  .header {
    height: 200px;
  }
}

@media screen and (max-width: 1440px) and (max-width: 1024px) {
  .header {
    background: #282827;
    height: 128px;
    top: -1px;
    left: -1px;
  }
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1306px;
  width: 94%;
  height: 145px;
  margin: 0 auto;
}

@media screen and (max-width: 1440px) {
  .header__logo {
    height: 130px;
  }
}

@media screen and (max-width: 1440px) and (max-width: 1024px) {
  .header__logo {
    height: 100%;
    margin: 0 30px;
  }
}

.header__logo__burger {
  display: none;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .header__logo__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
  }
}

.header__logo__geo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  max-width: 320px;
  width: 25%;
  height: 54px;
}

@media screen and (max-width: 1440px) {
  .header__logo__geo {
    max-width: 250px;
  }
}

@media screen and (max-width: 1440px) and (max-width: 1024px) {
  .header__logo__geo {
    max-width: 225px;
    display: none;
  }
}

.header__logo__geo__ico {
  max-width: 40px;
  min-width: 20px;
  height: auto;
  margin: auto 10px auto 0;
}

@media screen and (max-width: 1440px) {
  .header__logo__geo__ico {
    max-width: 30px;
    margin: auto 5px auto 0;
  }
}

.header__logo__geo__ico img {
  width: 100%;
  height: auto;
}

.header__logo__geo__location {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 300;
}

@media screen and (max-width: 1440px) {
  .header__logo__geo__location {
    font-size: 18px;
  }
}

@media screen and (max-width: 1440px) and (max-width: 1024px) {
  .header__logo__geo__location {
    font-size: 14px;
  }
}

.header__logo__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  max-width: 418px;
  font-weight: 300;
  font-size: 22px;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  .header__logo__center {
    margin-left: -26%;
  }
}

@media screen and (max-width: 1024px) and (max-width: 768px) {
  .header__logo__center {
    margin-left: 0;
  }
}

.header__logo__center a {
  color: white;
  text-decoration: none;
  font-size: 70px;
}

@media screen and (max-width: 1440px) {
  .header__logo__center a {
    font-size: 64px;
  }
}

@media screen and (max-width: 1440px) and (max-width: 1024px) {
  .header__logo__center a {
    font-size: 45px;
  }
}

@media screen and (max-width: 768px) {
  .header__logo__center span {
    display: none;
  }
}

@media screen and (max-width: 1440px) {
  .header__logo__center {
    font-size: 20px;
  }
}

@media screen and (max-width: 1440px) and (max-width: 1024px) {
  .header__logo__center {
    font-size: 18px;
  }
}

.header__logo__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  max-width: 265px;
  width: 25%;
  height: 62px;
  line-height: 20px;
  font-size: 22px;
  font-weight: 400;
}

@media screen and (max-width: 1440px) {
  .header__logo__phone {
    font-size: 18px;
    max-width: 210px;
  }
}

@media screen and (max-width: 1440px) and (max-width: 1024px) {
  .header__logo__phone {
    font-size: 15px;
    width: 220px;
    line-height: 18px;
    height: 40px;
  }
}

@media screen and (max-width: 1440px) and (max-width: 1024px) and (max-width: 560px) {
  .header__logo__phone {
    width: 65px;
  }
}

@media screen and (max-width: 1024px) {
  .header__logo__phone p {
    margin: 0;
    font-weight: 300;
  }
}

@media screen and (min-width: 1025px) {
  .header__logo__phone .header__logo__geo__ico {
    display: none;
  }
}

.header__logo__phone__ico {
  max-width: 40px;
  min-width: 20px;
  height: auto;
  margin: auto 10px;
}

@media screen and (max-width: 1440px) {
  .header__logo__phone__ico {
    max-width: 30px;
    margin: auto 5px;
  }
}

.header__logo__phone__ico svg {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .header__logo__phone__ico svg {
    fill: #F49A30;
  }
}

@media (max-width: 560px) {
  .header__logo__phone__num {
    display: none;
  }
}

.header__menu {
  background-color: #282727;
  width: 100%;
  height: 80px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media screen and (max-width: 1440px) {
  .header__menu {
    height: 70px;
  }
}

@media screen and (max-width: 1440px) and (max-width: 1024px) {
  .header__menu {
    display: none;
  }
}

.header__menu-wrapper {
  max-width: 1306px;
  width: 94%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin: auto auto;
  font-weight: 300;
  font-size: 22px;
}

@media screen and (max-width: 1440px) {
  .header__menu-wrapper {
    font-size: 20px;
  }
}

@media screen and (max-width: 1440px) and (max-width: 1024px) {
  .header__menu-wrapper {
    font-size: 15px;
    width: unset;
  }
}

.header__menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 860px;
  width: 73%;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  .header__menu__link {
    width: unset;
  }
}

.header__menu__link a {
  color: white;
  text-decoration: none;
  border-bottom: 3px solid #282727;
}

.header__menu__link a:not(:first-child):hover {
  border-bottom: 3px solid #F49A30;
}

.header__menu__link__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 197px;
  width: 23%;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-bottom: 2px solid #282727;
}

@media screen and (max-width: 1440px) {
  .header__menu__link__list {
    max-width: 175px;
    width: 26%;
  }
}

@media screen and (max-width: 1440px) and (max-width: 1024px) {
  .header__menu__link__list {
    width: unset;
    height: 55px;
  }
}

.header__menu__link__list img {
  width: 20px;
  height: auto;
}

@media screen and (max-width: 1024px) {
  .header__menu__link__list img {
    width: 15px;
    margin-left: 20px;
  }
}

.header__menu__link__list__choise {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 365px;
  position: absolute;
  margin-top: 53px;
  margin-left: -60px;
  background-color: rgba(53, 53, 53, 0.76);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media screen and (max-width: 1440px) {
  .header__menu__link__list__choise {
    margin-top: 49px;
  }
}

.header__menu__link__list__choise a {
  padding-top: 34px;
  padding-bottom: 25px;
  padding-left: 57px;
}

.header__menu__link__list__choise a:not(:last-child) {
  border-bottom: 2px solid rgba(188, 188, 183, 0.5);
}

.header__menu__link__list__choise a:last-child {
  padding-bottom: 34px;
}

.header__menu__link__list__choise a:hover {
  color: #F49A30;
  border-bottom: 2px solid #F49A30;
}

.header__menu__link__list:hover {
  border-bottom: 2px solid #F49A30;
}

.header__menu__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 314px;
  width: 24%;
}

@media screen and (max-width: 1024px) {
  .header__menu__search {
    display: none;
  }
}

.header__menu__search img {
  max-width: 40px;
  min-width: 20px;
  height: auto;
  margin: auto 10px auto 0;
}

@media screen and (max-width: 1440px) {
  .header__menu__search img {
    max-width: 30px;
  }
}

@media screen and (max-width: 1440px) and (max-width: 1024px) {
  .header__menu__search img {
    width: 20px;
  }
}

.header__menu__search input {
  max-width: 250px;
  width: 90%;
  height: 48px;
  border: none;
  font-size: 22px;
  border-radius: 3px;
  padding-top: 6px;
  padding-left: 16px;
  padding-right: 15px;
  font-weight: 300;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 1440px) {
  .header__menu__search input {
    font-size: 20px;
    height: 45px;
  }
}

@media screen and (max-width: 1440px) and (max-width: 1024px) {
  .header__menu__search input {
    font-size: 16px;
    height: 35px;
    padding-top: 3px;
    padding-left: 10px;
  }
}

.header__menu__search input::-webkit-input-placeholder {
  color: #BCBCB7;
}

.header__menu__search input:-ms-input-placeholder {
  color: #BCBCB7;
}

.header__menu__search input::-ms-input-placeholder {
  color: #BCBCB7;
}

.header__menu__search input::placeholder {
  color: #BCBCB7;
}

.header__menu__search input:focus {
  outline: none;
}

.header__menu__search__btns {
  display: none;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  width: 78px;
  height: 48px;
  margin-left: -13px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media screen and (max-width: 1440px) {
  .header__menu__search__btns {
    height: 45px;
  }
}

@media screen and (max-width: 1440px) and (max-width: 1024px) {
  .header__menu__search__btns {
    height: 35px;
    margin-left: -40px;
  }
}

.header__menu__search__btns button {
  height: 100%;
  border: none;
  background: white;
  font-size: 22px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header__menu__search__btns button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border: 1px solid #F49A30;
}

.header__menu__search__btns button:focus {
  outline: none;
}

.header__menu__search__btns--type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  background: rgba(53, 53, 53, 0.9);
  height: 230px;
}

.header__menu--active .header__menu-wrapper {
  height: 100%;
  width: 100%;
  margin: 0 0 0 30px;
}

@media (max-width: 1024px) {
  .header__menu--active .header__menu-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    max-width: unset;
  }
}

.header__menu--active .header__menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
}

@media (max-width: 1024px) {
  .header__menu--active .header__menu__link {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #282727;
    max-width: unset;
  }
}

.header__menu--active .header__menu__link a {
  border-bottom: 1px solid #282827;
  width: 100%;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: none;
}

.header__menu--active .header__menu__link a:hover {
  border: none;
  color: #F49A30;
}

.header__menu--active .header__menu__link__list {
  border: none;
  width: 100%;
  max-width: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #282827;
}

.header__menu--active .header__menu__link__list a {
  width: unset;
  height: unset;
  border: none;
}

.header__menu--active .header__menu__link__list__choise {
  width: 300px;
  left: 360px;
  top: 0;
  margin-top: 0;
  background: rgba(53, 53, 53, 0.9);
}

@media (max-width: 1024px) {
  .header__menu--active .header__menu__link__list__choise {
    width: 100%;
    left: 0;
    top: 56px;
    margin-left: unset;
  }
}

@media (max-width: 1024px) {
  .header__menu--active .header__menu__link__list__choise a {
    height: 55px;
    border-bottom: 1px solid #282827;
    padding: 0;
  }
}

.header__menu--active .header__menu__link__list__choise a:hover {
  border: none;
  color: #F49A30;
}

@media (max-width: 1024px) {
  .header__menu--active .header__menu__link__list__choise a:hover {
    border-bottom: 1px solid #282827;
  }
}

.header-sticky {
  height: 80px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header-sticky .header__logo {
  display: none;
}

@media (max-width: 1024px) {
  .header-sticky .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 1024px) {
  .header-sticky {
    height: 100px;
  }
}

.header__menu__link .header-menu__active,
#list .header-menu__active {
  border-bottom: 2px solid #F49A30;
}

.animate__animated {
  --animate-duration: 0.2s;
}
/*# sourceMappingURL=header.css.map */